body {
  height: 100%;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.navbar-header {
  width: 15%;
  text-align: center;
  margin-right: 10px;
}

#sync-status {
  font-size: 16px;
  margin-left: 5px;
}

.navbar-value {
  font-size: 24px;
  line-height: 64px;
  text-align: center;
  height: 64px;
  color: black;
}

.navbar-title {
  margin-left: 10px;
  line-height: 64px;
  height: 64px;
  margin-right: 50px;
}

.category-header {
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.category .fa {
  font-size: 18px;
  top: 12px;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  color: white;
  float: left;
}

.category .fa:hover {
  color: red;
}

.category a.editing {
  margin-left: 25px;
  pointer-events: none;
}

.category-control {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.category-control:hover {
  color: red;
}

.category-edit {
}

.category-title {
  height: 43px;
}

.category-title > input {
  color: white !important;
  padding-left: 15px !important;
}

.category-dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.navbar {
  border-radius: 0;
}

.nav-pills>li>a {
  color: #dddddd;
  font-weight: bold;
  border-radius: 0;
}

.nav-pills>li.active>a {
  color: white;
  background-color: #2D3134;
}

.nav-pills>li>a:hover {
  color: #2D3134;
  background-color: white;
}

.nav-pills>li.active>a:hover {
  background-color: #2D3134;
}

.nav-pills>li>a>.badge, .nav-pills>.active>a>.badge {
  float: right;
  background-color: #20B2CB;
  color: white;
  width: 36px;
  padding: 3px 5px;
  font-weight: bold;
  margin-top: 3px;
}

.category .fa-angle-up,
.category .fa-angle-down {
  top: -36px;
  font-size: 24px;
  float: right;
  right: 5px;
}

.banner {
  width: 100%; 
  position: fixed;
  z-index: 99;
}

.main-menu {
  position: absolute;
  padding-top: 84px;
  width: 15%;
  height: 100%;
  background-color: #383D40;
}

.main-container {
  min-height: 100%;
  height: 100%;
  width: 85%;
  margin-left: 15%;
  background-color: whitesmoke;
  padding-top: 84px;
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.col-left {
  border-right: 1px dashed #ddd;
}

.alert-state {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
  font-size: 36px;
  text-align: center;
}

.progress-toolbar .panel-body {
  padding: 10px 15px;
}

.progress-toolbar .btn-primary {
  padding: 3px 16px;
  height: 30px;
}

.progress-toolbar .form-group {
  margin-bottom: 0;
}

.progress-toolbar input {
  height: 30px;
}

.progress-toolbar h6 {
  margin-top: 5.5px;
  margin-bottom: 9.5px;
}

.btn-add {
  color: red;
  font-weight:bold;
}

.btn-add:hover {
  text-decoration: underline;
}

.progress-filter {
  height: 30px;
  padding-top: 15px;
  margin-right: 50px;
}

.progress-filter label{
  padding-top: 3px;
  float:right;
  height: 30px;
}

#progress-filter {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

#progress-filter.nav>li>a {
  padding: 3px 15px;
  color: #aaa;
}

#progress-filter .active a{
  font-weight: bold;
  color: #2196f3 !important;
}

.progress-orderby {
  padding-top: 15px;
  margin-right: 20px;
}

#progress-orderby {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#progress-ordertype {
  cursor: pointer;
}

#progress-ordertype:hover {
  text-decoration: underline;
}

.progress-current {
  margin-left: 16.666% !important;
}

.progress-total {
  margin-left: 15px !important;
}

.progress {
  height: 40px;
  width: 100%;
}

.progress-title {
  margin-left: 10px;
  display: inline;
}

.progress-edit, .progress-done, .progress-delete {
  font-size: 16px;
  margin-left: 30px;
}

.progress-edit:hover, .progress-done:hover, .progress-delete {
  color: red;
  cursor: pointer;
}

.progress-delete {
  color: red;
}

.progress-percentage {
  font-weight: bold;
  color: #4caf50;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.progress-control {
  clear: both;
  padding-top: 15px;
}

#progress-list .panel {
  margin-bottom: 0px;
}

.progress {
  margin-bottom: 0;
}

.progress-slider {
  margin-top: 10px;
  margin-bottom: 20px;
}

.label-progress {
  height: 24px;
  font-size: 16px;
  width: 100px;
  float: right;
}

.noUi-target.noUi-connect {
  box-shadow: none;
  border: none;
}

.noUi-connect {
  background: #2196f3;
  height: 6px;
}

.noUi-handle {
  cursor: move;
  border-radius: 100%;
  width: 24px !important;
  height: 24px !important;
  background-color: #2196f3;
  border-color: #2196f3;
  border: 0;
  top: -9px !important;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  box-shadow: none;
}

.noUi-active {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.noUi-handle:before, .noUi-handle:after {
  background: none;
}

.slider-tip {
  width: 100%;
  background-color: yellow;
}

.slider-tip > span {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  line-height: 24px;
  font-weight: bold;
  margin-left: 2px;
}


