body {
  height: 100%;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.navbar-header {
  width: 15%;
  text-align: center;
  margin-right: 10px;
}

#sync-status {
  font-size: 16px;
  margin-left: 5px;
}

.navbar-value {
  font-size: 24px;
  line-height: 64px;
  text-align: center;
  height: 64px;
  color: black;
}

.navbar-title {
  margin-left: 10px;
  line-height: 64px;
  height: 64px;
  margin-right: 50px;
}

.category-header {
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.category .fa {
  font-size: 18px;
  top: 12px;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  color: white;
  float: left;
}

.category .fa:hover {
  color: red;
}

.category a.editing {
  margin-left: 25px;
}

.category a.editing:hover {
  background-color: transparent!important;
  margin-left: 25px;
  color: white!important;
}

.category-control {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.category-control:hover {
  color: red;
}

.category-edit {
}

.category-title {
  height: 43px;
}

.category-title > input {
  color: white !important;
  padding-left: 15px !important;
}

.category-dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.navbar {
  border-radius: 0;
}

.nav-pills>li>a {
  color: #dddddd;
  font-weight: bold;
  border-radius: 0;
}

.nav-pills>li.active>a {
  color: white;
  background-color: #2D3134;
}

.nav-pills>li>a:hover {
  color: #2D3134;
  background-color: white;
}

.nav-pills>li.active>a:hover {
  background-color: #2D3134;
}

.nav-pills>li>a>.badge, .nav-pills>.active>a>.badge {
  float: right;
  background-color: #20B2CB;
  color: white;
  width: 36px;
  padding: 3px 5px;
  font-weight: bold;
  margin-top: 3px;
}

.category .fa-angle-up,
.category .fa-angle-down {
  top: -36px;
  font-size: 24px;
  float: right;
  right: 5px;
}

.banner {
  width: 100%; 
  position: fixed;
  z-index: 99;
}

.main-menu {
  position: absolute;
  padding-top: 75px;
  width: 15%;
  height: 100%;
  background-color: #383D40;
}

.main-container {
  min-height: 100%;
  height: 100%;
  width: 85%;
  margin-left: 15%;
  background-color: whitesmoke;
  padding-top: 84px;
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

.col-left {
  border-right: 1px dashed #ddd;
}

.alert-state {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
  font-size: 36px;
  text-align: center;
}

.progress-toolbar {
  padding: 0px 15px;
  margin-bottom: 10px;
}

.btn-add {
  color: red;
  font-weight:bold;
}

.btn-add:hover {
  text-decoration: underline;
}

.progress-filter {
  height: 30px;
  padding-top: 15px;
  margin-right: 50px;
}

.progress-filter label{
  padding-top: 3px;
  float:right;
  height: 30px;
}

#progress-filter {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

#progress-filter.nav>li>a {
  padding: 3px 15px;
  color: #aaa;
}

#progress-filter .active a{
  font-weight: bold;
  color: #2196f3 !important;
}

.progress-orderby {
  padding-top: 15px;
  margin-right: 20px;
}

#progress-orderby {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#progress-ordertype {
  cursor: pointer;
}

#progress-ordertype:hover {
  text-decoration: underline;
}

.create-progress {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 6px;
  float: right;
  margin-top: 20px;
}

.progress-current {
  margin-left: 16.666% !important;
}

.progress-total {
  margin-left: 15px !important;
}

.progress {
  height: 40px;
  width: 100%;
}

.progress-title {
  margin-left: 10px;
  display: inline;
}

.progress-edit, .progress-done, .progress-delete {
  font-size: 16px;
  width: 40px;
}

.progress-edit:hover, .progress-done:hover, .progress-delete:hover {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.progress-percentage {
  font-weight: bold;
  color: #4caf50;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.progress-control {
  clear: both;
  padding-top: 15px;
}

#progress-list .panel {
  margin-bottom: 0px;
}

.progress {
  margin-bottom: 0;
}

.progress-slider {
  margin-top: 10px;
  margin-bottom: 20px;
}

.label-progress {
  height: 24px;
  font-size: 16px;
  width: 100px;
  float: right;
}

.noUi-target.noUi-connect {
  box-shadow: none;
  border: none;
}

.noUi-connect {
  background: #2196f3;
  height: 6px;
}

.noUi-handle {
  cursor: move;
  border-radius: 100%;
  width: 24px !important;
  height: 24px !important;
  background-color: #2196f3;
  border-color: #2196f3;
  border: 0;
  top: -9px !important;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  box-shadow: none;
}

.noUi-active {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.noUi-handle:before, .noUi-handle:after {
  background: none;
}

.slider-tip {
  width: 100%;
  background-color: yellow;
}

.slider-tip > span {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  line-height: 24px;
  font-weight: bold;
  margin-left: 2px;
}


/* Hoshi */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.input__field:focus {
  outline: none;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.input--hoshi {
  overflow: hidden;
}

.input__field--hoshi {
  margin-top: 1em;
  font-size: 18px!important;
  padding: 0.85em 0.15em!important;
  width: 100%;
  background: transparent;
  color: #595F6E;
}

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}

.input__label-content--hoshi {
  position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
  border-color: hsl(200, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}


